$main-label-height: 2rem;

@mixin flex-row {
  display: flex;
  float: row;
}

$main-transition: transform 0.3s linear;

.node-container {
  @include flex-row;

  .node {
    width: min-content;
    height: $main-label-height;
    box-sizing: border-box;

    @include flex-row;
    align-items: center;

    .title {
      margin: 0;
      display: inline;
      margin-bottom: 0.2rem;
    }

    .arrow {
      height: $main-label-height;
      transition: $main-transition;
      display: inline;
    }
  }

  .childrens {
    margin-bottom: $main-label-height;
    position: relative;
    top: 2rem;
  }
}
